body {
    margin: 0;
    background-color: black;
    overflow-x: hidden;
}

#placeholder {
    display: none;
}

.hide {
    display: none !important;
}

header {
    height: 55px;
    width: 100vw;
    background-color: #101010;
    box-shadow: #101010 0px 2px 4px;
    display: flex;
    position: fixed;
    top: 0;
    z-index: 999;
}

.site_name {
    height: 100%;
    width: fit-content;
    display: flex;
}

.site_name .icon {
    aspect-ratio: 1/1;
    height: calc(100% - 10px);
    margin: 5px;
    flex: 0 0 auto;
    background-size: cover;
    background-image: url(icon/folder.svg);
    filter: brightness(0) invert(1);
}

.site_name .title {
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    font-weight: 900;
    margin-left: 5px;
    margin-right: 5px;
    user-select: none;
    font-family: Arial;
}

.content_holder {
    padding-top: 10px;
    position: absolute;
    top: 55px;
    min-height: calc(100vh - 55px);
    height: fit-content;
    width: 60vw;
    margin-left: auto;
    margin-right: auto;
    overflow-x: hidden;
    transform: translateX(-50%);
    left: 50%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
}

.entry {
    width: calc(30vw - 10px);
    height: calc(34vw - 10px);
    background-color: #0A0A0A;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

.entry:hover .entry_header {
    background-color: #111111;
}

.entry:hover .entry_media nav {
    opacity: 1;
}

.entry_header {
    flex: 0 0 auto;
    width: 100%;
    height: 4vw;
    background-color: #0A0A0A;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    display: flex;
    user-select: none;
    transition: background-color 0.2s;
}

.entry_header .icon {
    aspect-ratio: 1/1;
    flex: 0 0 auto;
    height: calc(100% - 12px);
    margin: 6px;
    border-radius: 50%;
    background-color: #101010;
    border: 2px solid white;
    box-sizing: border-box;
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(icon/location.svg);
}

.entry_header .title {
    flex: 1;
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    margin-left: 6px;
}

.entry_media {
    flex: 1;
    background-color: rgba(0, 0, 0, 0);
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    background-size: cover;
    position: relative;
    background-image: var(--preview_url);
}

.info_overlay {
    position: absolute;
    top: 0;
    left: 0;
    padding: 6px;
    font-size: 1.1rem;
    display: flex;
    flex-direction: column;
    gap: 6px;
    background-color: rgba(0, 0, 0, 0.6);
    border-bottom-right-radius: 8px;
}

.info_holder {
    display: flex;
    height: 20px;
}

.info_holder .icon {
    aspect-ratio: 1/1;
    transform: translate(-3px, -3px);
    height: calc(100% + 4px);
    flex: 0 0 auto;
    background-size: cover;
}

.icon.date {
    background-image: url(icon/day.svg);
}

.icon.person {
    background-image: url(icon/people.svg);
}

.info_holder .info {
    flex: 1;
    display: flex;
    align-items: center;
    margin-left: 3px;
    user-select: none;
}

.button_overlay {
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    opacity: 0;
    transition: opacity 0.2s;
}

.button_overlay div {
    pointer-events: all;
    position: absolute;
    height: 100%;
    width: 16%;
    background-color: rgba(0, 0, 0, 0);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    cursor: pointer;
    transition: background-color 0.2s;
}

.button_overlay div:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.shift_left {
    left: 0;
    background-image: url(icon/left_arrow.svg);
}

.shift_right {
    right: 0;
    background-image: url(icon/right_arrow.svg);
}

.photo_select {
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
    background-color: #1A1A1A;
    box-shadow: black 0 0 4px;
    box-sizing: border-box;
    border: 3px solid #161616;
    width: fit-content;
    min-width: 60px;
    height: 25px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 999px;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.photo_select div {
    aspect-ratio: 1/1;
    height: calc(100% - 8px);
    margin: 4px;
    background-color: #3b87df;
    border: 2px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    border-radius: 999px;
    transition: width 0.1s, height 0.1s, margin 0.1s;
    cursor: pointer;
}

.photo_select div:hover {
    height: calc(100% - 6px);
    margin: 3px;
}

.photo_select div.active {
    height: calc(100% - 4px);
    margin: 2px;
}

* {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    text-shadow: 2px 2px 4px black;
}

@media screen and (max-width: 767px) {
    .content_holder {
        width: 100vw;
        justify-content: unset;
    }

    .entry {
        margin: 5px;
        width: calc(100vw - 10px);
        height: calc(100vw + 50px);
    }

    .entry_header {
        height: 50px;
    }
}